@import url('https://fonts.googleapis.com/css2?family=Exo&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  background-color: #181107;
  font-family: 'Exo', sans-serif;
}

::placeholder {
  color: rgba(255, 255, 255, 0.55);
}